
:root{
    --color-background: #F7F3EB;
    --primary-color: #ed2227;
    --secondary-color: #221e1f;
}

body{
    background: var(--color-background);
}
.coming-soon {
    overflow-x: hidden;
    background: url(../images/bg-1.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.bg-overlay {
    background-color: transparent !important;
}
.logo{
    margin-top: 2.5%;
    max-height: 50px;
}
.logo,
.img-responsive{
    height: auto;
    max-width: 100%;
}
.title-heading h1{
    font-size: 70px !important;
    color: var(--primary-color);
    line-height: 70px;
    font-weight: 900 !important;
}
.title-heading h1 span{
    font-size: 32px;
    line-height: 35px;
    font-weight: 600 !important;
}
.title-heading p{
    font-size: 18px !important;
    color: var(--secondary-color);
}
.para-desc {
    max-width: 800px;
    padding: 1% 2.5%;
}
#countdown .count-down .count-number {
    background: #f7f3eb;
    font-size: 42px;
    font-weight: 700;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
#countdown .count-down {
    margin: 1% 2.5%;
    color: var(--secondary-color);
}
.footer .p{
    padding: 0.5% 0.25%;
    font-size: 14px;
    color: #fff !important;
}
.footer a:hover{
    color: var(--primary-color) !important;
}

/* Desktop Styles */
@media (min-width: 992px) {

}
/* Tablet Styles */
@media (min-width: 768px) and (max-width: 991px) {
    .flag{
        margin-bottom: -5%;
        margin-left: 10%;
    }
}
/* Mobile Styles */
@media (max-width: 767px) {
    .flag{
        margin-bottom: -10%;
        margin-left: 10%;
    }
    .footer .p{
        font-size: 12px;
        padding: 1% 0.5%;
    }
    .title-heading h1{
        font-size: 42px !important;
        line-height: 42px;
        font-weight: 900 !important;
    }
    .title-heading h1 span{
        font-size: 22px;
        line-height: 22px;
        font-weight: 600 !important;
    }
}